<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imos authentication</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
        }

        .head{
            margin-top: 10px;
        }

        .options{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button-component[type=submit] {
            margin-top:10px;
        }
    </style>
</head>
<body>
    <div class="options">
        <img style="height: 85px;margin-bottom: 130px;margin-top: 10px;" src="logo.svg">
        <button class="button-component"  type="submit" id="loginButton">Login</button>
        <button class="button-component"  type="submit" id="createAccountButton">Create Account</button>
    </div>

    <script>
        const { ipcRenderer } = require('electron');

        document.getElementById('loginButton').addEventListener('click', () => {
            ipcRenderer.send('openLoginWindow');
        });

        document.getElementById('createAccountButton').addEventListener('click', () => {
            ipcRenderer.send('openRegisterWindow');
        });

    </script>
</body>
</html>
