<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMOS Auth</title>
</head>
<body>
    <h1>IMOS Auth</h1>
    <button id="loginButton">Login</button>
    <button id="createAccountButton">Create Account</button>

    <script>
        const { ipcRenderer } = require('electron');

        document.getElementById('loginButton').addEventListener('click', () => {
            ipcRenderer.send('openLoginWindow');
        });

        document.getElementById('createAccountButton').addEventListener('click', () => {
            ipcRenderer.send('openRegisterWindow');
        });

    </script>
</body>
</html>
