<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMOS</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="title-bar"></div>
    <ul class='app-container' id="dynamicButtonsContainer"><span class='container-info'>IMOS</span>
        <!-- Add a container for dynamically generated buttons -->
        
    </ul>
    <button class="button-component"  type="submit" id="button_logout">Logout</button>
    <script type="text/javascript" src="../app/renderer.js"></script>
</body>
</html>