<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMOS Login</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1><span class='title-info'>IMOS Login</span></h1>
    <form id="loginForm">
        <input class="text-box-component" placeholder="Insert username" id="username" required>
        <br>
        <br>
        <input class="text-box-component" type="password" placeholder="Insert password" id="password" required>
        <br>
        <br>
        <button class="button-component"  type="submit">Login</button> 
        <input type="checkbox" id="rememberCheckbox"><label for="rememberCheckbox"><span class='input-info'>Remind this user</span></label>
    </form>
    <button class="button-component"  type="submit" id="back">Back</button>
    <script>
        const { ipcRenderer } = require('electron');

        document.getElementById('loginForm').addEventListener('submit', (event) => {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Send the registration data to the main process
            ipcRenderer.send('login', { username, password });
        });

        document.getElementById('rememberCheckbox').addEventListener('change', () => {
            //const isChecked = document.getElementById('rememberCheckbox').checked;
            ipcRenderer.send('saveLoginSettings');
        });

        document.getElementById('back').addEventListener('click', () => {
            //const isChecked = document.getElementById('rememberCheckbox').checked;
            ipcRenderer.send('back');
        });
        
    </script>
</body>
</html>
