<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imos register</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <img style="height: 85px;" src="logo.svg">
    <h1<span class='title-info'></span></h1>
        <form id="registerForm">
            <div>
                <label for="clientOption"><span class="text-box-component">Client</span></label>
                <input type="radio" name="userType" id="clientOption" value="client" required>

                <label for="developerOption"><span class="text-box-component">Developer</span></label>
                <input type="radio" name="userType" id="developerOption" value="developer" required>
            </div>

            <input class="text-box-component" placeholder="Insert username" id="username" required>
            <br>
            <input class="text-box-component" placeholder="Insert email" id="email" required>
            <br>
            <input class="text-box-component" type="password" placeholder="Insert password" id="password" required>
            <br>
            <button class="button-component" type="submit">Register</button>
        </form>
        <button class="button-component" type="submit" id="back">Back</button>
        <script>
            const { ipcRenderer } = require('electron');

            // Add an event listener to the register form for the 'submit' event.
            document.getElementById('registerForm').addEventListener('submit', (event) => {
                event.preventDefault();

                const userTypeOptions = document.getElementsByName('userType');
                let type = '';
                for (const option of userTypeOptions) {
                    if (option.checked) {
                        type = option.value;
                        break;
                    }
                }

                const username = document.getElementById('username').value;
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                // Send a registration request with the user type, username, email, and password to the main process via ipcRenderer.
                ipcRenderer.send('register', { type, username, email, password });
            });

            document.getElementById('back').addEventListener('click', () => {
                // Send a message to go back to the previous page to the main process via ipcRenderer.
                ipcRenderer.send('back');
            });
        </script>
</body>

</html>