<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Submission Form</title>
</head>
<body>
    <h1<span class='title-info'>Software Submission Form</span></h1>
    <!--Documentation button-->
    <form id="submissionForm">
        <input placeholder="Application Name" id="name" required>
        <br>
        <br>
        <input placeholder="Description" id="description" required>
        <br>
        <br>
        <input placeholder="Version" id="ver" required>
        <br>
        <!--Submission Info: in here you should describe any implementation or integration details for revision-->
        <!--Version update info-->
        <!--Files submission in zip format-->
        <!--Documentation button-->
        <button type="submit">Submit for Review</button>
    </form>
</body>
</html>